@keyframes example{
    from{
        opacity: 0.1;
    }
    to{
        opacity:1;
    }
}


@keyframes headerfooter{
    from{
        opacity:0.1;
    }
    to{
        opacity:1;
    }
}
nav li, footer li{
    display: inline;
    padding-right:20px;
}

nav a, footer a{
    color: white;
    font-weight: bold;
    text-decoration: none;
    font-size: 30px;
    animation-name: headerfooter;
    animation-duration:2s;
}
nav a:hover, footer a:hover{
    color: grey;
    text-decoration: underline;
}

#img{
    padding-left: 2%;
    animation-name: example;
    animation-duration:2s;
}

nav{
    background-color: #ff9900;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
footer{
    background-color: #ff9900;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:-6px;
  }
footer a{
    font-size: 28px;
}
header{
    margin:-6px;
}

body{
    background-color: rgb(89, 202, 241);
  }

h3,p,a{
    color:white;
    font-size: 70px;
    text-align: center;
    animation-name: headerfooter;
    animation-duration:2s;
}

p{
    font-size:40px;
}

.grid{
    text-align: center;
    padding-right:20px;
    
}
#gridcont{
    display:grid;
    grid-template-columns: auto auto auto;
}

.ah{
    border:5px solid black;
    padding: 2px; 
    text-decoration: none;
}

.ah:hover{
    background-color: gray;
}

#pungrid{
    display:grid;
    grid-template-columns: auto auto auto auto;
    list-style: none;
    justify-content: space-around;
    align-items: center;
}

.imgpuns:hover{
    border:5px solid black;
    opacity:0.5;
}


#memebox{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    grid-template-columns: auto auto auto auto;
    list-style: none;
    justify-content:space-around;
    align-items: center;
}

.imgmemes:hover{
    border:5px solid black;
    opacity:0.5;
}

#pickupgrid{
    display:grid;
    grid-template-columns: auto auto auto auto;
    list-style: none;
    justify-content: space-around;
    align-items: center;
}

.imgpickups:hover{
    border:5px solid black;
    opacity:0.5;
}



@media (prefers-reduced-motion) {
    nav a, footer a{
        color: white;
        font-weight: bold;
        text-decoration: none;
        font-size: 30px;
        animation-name: headerfooternone;
        animation-duration:4s;
    }
    #img{
        padding-left: 2%;
        animation-name: examplenone;
        animation-duration:4s;
    }
    h3,p,a{
        color:white;
        font-size: 70px;
        text-align: center;
        animation-name: headerfooternone;
        animation-duration:4s;
    }
    .imgpuns:hover{
        border:none;
        opacity:1;
    }

    @keyframes examplenone{
        from{
            opacity: 0.5;
        }
        to{
            opacity:1;
        }
    }
    
    
    @keyframes headerfooternone{
        from{
            opacity:0.5;
        }
        to{
            opacity:1;
        }
    }

}