@keyframes example{
    from{
        opacity: 0.1;
    }
    to{
        opacity:1;
    }
}
@keyframes examplenone{
    from{
        opacity: 0.5;
    }
    to{
        opacity:1;
    }
}

#content{
    left:-999px;
    top:auto;
    position: absolute;
    width:1px;
    height:1px;
    overflow:hidden;
    z-index:-999;
}
#content:focus, #content:active, #content:hover {
    color: #fff;
    background-color:#095771;
    left: auto;
    top: auto;
    width: 30%;
    height: auto;
    overflow:auto;
    margin: 10px 35%;
    padding:5px;
    border-radius: 15px;
    border:4px solid black;
    text-align:center;
    font-size:1.2em;
    z-index:999;
}
#content:hover{
    opacity: 0.5;
}
#cont{
    display: block;
    width:150px;
    margin-left: auto;
    margin-right: auto;
    animation-name: example;
    animation-duration:2s;
}
nav li, footer li{
    display: inline;
    padding-right:10px;
    
}
nav ul{
    text-decoration: none;
}

nav a, footer a{
    color: white;
    font-weight: bold;
    text-decoration: none;
    font-size: 15px;
    animation-name: example;
    animation-duration:2s;
}
footer a{
    font-size:10px;
}
nav a:hover, footer a:hover{
    color: grey;
    text-decoration: underline;
}


#img{
    padding-left: 2%;
    animation-name: example;
    animation-duration:2s;
}

nav{
    background-color: #704300;
    display: flex;
    justify-content: space-between;
    align-items: center;
    }
footer{
    background-color: #704300;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:-6px;
    }

header{
    margin:-6px;
}

body{
    background-color: #095771;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

h1,p,a{
    color:white;
    font-size: 40px;
    text-align: center;
    animation-name: example;
    animation-duration:2s;
}

p{
    font-size:20px;
}

.grid{
    text-align: center;
    padding-right:10px;
    text-decoration: none;
    
}
#gridcont{
    display:grid;
    grid-template-columns: auto;
    list-style:none;
    
}

.ah{
    border:none;
    padding: 2px; 
    text-decoration: none;
}

.ah:hover{
    background-color: gray;
}

#pungrid{
    display:grid;
    grid-template-columns: auto;
    list-style: none;
    justify-content: space-around;
    align-items: center;
}
#menu{
    list-style:none;
}

.imgpuns:hover{
    opacity:0.5;
}


#memebox{
    display:flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    list-style: none;
    justify-content:space-between;
    align-items: center;
}
.imgmemes{
    width: 250px;
}
.imgpuns{
    width: 375px;
}


.imgmemes:hover{
    opacity:0.5;
}

#pickupgrid{
    display:grid;
    grid-template-columns: auto;
    list-style: none;
    justify-content: space-around;
    align-items: center;
}
.imgpickups{
    width: 375px;
}

.imgpickups:hover{
    opacity:0.5;
}




@media only screen and (min-width: 768px){
    #cont{
        width:225px;
    }
    nav li, footer li{
        padding-right:15px;  
    }
    
    nav a, footer a{
        font-size: 20px;
    }
    footer a{
        font-size:15px;
    }
    nav a:hover, footer a:hover{
        text-decoration: underline;
    }
    
    #img{
        padding-left: 4%;
    }

    
    h1,p,a{
        font-size: 50px;
    }
    
    p{
        font-size:30px;
    }
    a{
        font-size:40px;
    }
    .grid{
        padding-right:20px;
        
    }
    #gridcont{
        grid-template-columns: auto auto;
        
    }

    
    #pungrid{
        grid-template-columns: auto auto;
    }

    
    .imgpuns:hover{
        border:2px dashed black;
        opacity:1;
    }
    
    
    #memebox{
        flex-direction: row-reverse;
        justify-content: space-around;
    }
    .imgmemes{
        width: 300px;
    }
    .imgpuns{
        width: 300px;
    }
    
    
    .imgmemes:hover{
        border:2px dashed black;
        opacity:1;
    }
    
    #pickupgrid{
        grid-template-columns: auto auto;
    }
    .imgpickups{
        width: 250px;
    }
    
    .imgpickups:hover{
        border:2px dashed black;
        opacity:1;
    }


}

@media only screen and (min-width: 992px){

    .imgmemes{
        width: 275px;
}
.imgpuns{
        width: 275px;
}
#menu{
    list-style:none;
}
nav li, footer li{
    padding-right:20px;
    list-style: none;
}

nav a, footer a{
    font-size: 30px;
}
footer a{
    font-size:20px;
}
nav a:hover, footer a:hover{
    text-decoration: underline;
}


p{
    font-size:40px;
}

.grid{
    padding-right:20px;
    
}
#gridcont{
    grid-template-columns: auto auto auto;
}

.ah{
    border:5px solid black;
}

#pungrid{
    grid-template-columns: auto auto auto auto;
}

.imgpuns:hover{
    border:5px solid black;
}


#memebox{
    justify-content:space-between;
    flex-direction: row;
}

.imgmemes:hover{
    border:5px solid black;
}

#pickupgrid{
    display:grid;
    grid-template-columns: auto auto auto auto;
    list-style: none;
    justify-content: space-around;
    align-items: center;
}

.imgpickups:hover{
    border:5px solid black;
}
}



@media (prefers-reduced-motion) {
nav a, footer a{
    color: white;
    font-weight: bold;
    text-decoration: none;
    animation-name: examplenone;
    animation-duration:4s;
}
#img{
    padding-left: 2%;
    animation-name: examplenone;
    animation-duration:4s;
}
h1,p,a{
    color:white;
    text-align: center;
    animation-name: examplenone;
    animation-duration:4s;
}
.imgpuns:hover{
    border:none;
    opacity:1;
}
#cont{
    display: block;
    margin-left: auto;
    margin-right: auto;
    animation-name: examplenone;
    animation-duration:4s;
}

    

}